################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Temp/__Backupscenes/0.backup
/Temp/UnityLockfile
